{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
	
{% block app_content %}
	<h1>Это Ваш аккаунт.</h1>
	<br>
	{% if not current_user.is_client %}
		<a class="btn btn-default" href="{{ url_for('create_account') }}">Создать аккаунт для нового сотрудника</a><br><br>
		{% if current_user.id_job > 9 %}
			<p>Введите ИНН сотрудника для изменения его аккаунта:</p>
			<div class="row">
				<div class="col-md-4">
					{{ wtf.quick_form(form) }}
				</div>
    		</div>
			<br>
		{% endif %}
	{% endif %}
	<a class="btn btn-default" href="{{ url_for('change_password') }}">Сменить пароль</a><br><br>
{% endblock %}