{% extends "base.html" %}
	
{% block app_content %}
    {% if current_user.is_client %}
	    <h1>Все Ваши заказы. Во всех стадиях.</h1>
    {% else %}
	    <h1>Все заказы, за которые вы ответсвены. Во всех стадиях.</h1>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            {% for order in orders %}
                <div class="well well-sm">
                    <p>
                        <b>Номер заказа: {{ order[0] }}</b> <br>
                        Дата приема: {{ order[1] }}<br>
                        Дата готовности:
                        {% if order[2] == None %}
                            заказ не готов<br>
                        {% else %}
                            {{ order[2] }}<br>
                            Дата передачи клиенту:
                            {% if order[3] == None %}
                                ожидает клиента<br>
                            {% else %}
                                {{ order[3] }}<br>
                            {% endif %}
                        {% endif %}
                        Цена: {{ order[4] }}<br>
                        {% if order[5] != 0 %}
                            Компенсация: {{ order[5] }}<br>
                        {% endif %}
                        {% if current_user.is_client %}
                            Ответсвенный сотрудник: {{ account[order[7] - 2][0] }}<br>
                        {% else %}
                            {% if order[6] != 1 %}
                                Клиент: {{ account[order[6] - 2][0] }}<br>
                            {% else %}
                                Клиент не зарегистрирован<br>
                            {% endif %}
                            Телефон клиента: {{ order[8] }}
                        {% endif %}
                        {% for garment in garments %}
                            {% if garment[1] == order[0] %}
                                <div class="well well-sm">
                                    <p>
                                        Материал: {{ material[garment[2] - 1][0] }}<br>
                                        Категория вещи: {{ category[garment[4] - 1][0] }}<br>
                                        Этап чистки: {{ step[garment[3] - 1][0] }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}